<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.espn.news.dao.NewsMapper" >
	<select id="selectByGkey" parameterType="long" resultType="com.espn.news.domain.News">
		select * from news where gkey=#{gkey}
	</select>
</mapper>